html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    color: #FFFFFF;
    background-color: #F8F8F8;
    background-image: url(../img/119611317_m11111.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1040px;

}



*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;

}


/* Header */

.header {
    width: 100%;
    height: 80px;
    padding-top: 6px;
    padding-bottom: 6px;

    background-color: rgba(0,0,0,0.5);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding-top: 3px;
}


/* Logo */

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 52px;
    height: auto;
    margin-right: 15px;
}

.logo__text {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

/* Burger menu */

.burger-menu {
    visibility: hidden;
}

#menu__toggle {
    opacity: 0;
}

.menu__button {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1000;
}

.menu__button > span,
.menu__button > span::before,
.menu__button > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #fff;
}

.menu__button > span::before {
    content: '';
    top: -8px;
}

.menu__button > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 55%;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;
    text-align: left;

    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition: left .4s;
    z-index: 500;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 600;

    padding: 30px 60px;

    text-decoration: none;
}

.menu__item:hover {
    background-color: #cfd8dc;
}

#menu__toggle:checked ~ .menu__button > span {
    transform: rotate(45deg);
    background-color: #333;
}

#menu__toggle:checked ~ .menu__button > span::before {
  top: 0;
  transform: rotate(0);
  background-color: #333;
}
#menu__toggle:checked ~ .menu__button > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #333;
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}




/* Nav */
.nav {
    display: flex;
    justify-content: space-between;

    font-size: 24px;
    width: 50%;
}

.nav__link {
    position: relative;

    text-decoration: none;
    color: #fff;

    transition: color .2s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin-top: 2px;

    background-color: #fff;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    -webkit-transition: width .2s ease-in-out;
    -moz--transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

.nav__link:hover:after {
    width: 100%;
}



/* Intro */
.intro {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1040px;

}


.intro__inner {
    max-width: 902px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.intro__title {
    display: flex;
    margin: 0 0 32px;



    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;

    line-height: 1.1;

}



.intro__subtitle {
    color: #FFFFFF;
    text-decoration: none;
    font-weight:200;
    font-size: 24px;


    margin-top: 0;
    padding-left: 15px;
}

.intro__subtitle:hover {
    text-decoration: underline;
    transition: opacity 0.1s linear;
}


.intro__geo {
    display: flex;
    transition: opacity 0.1s linear;
    margin-bottom: 35px;
    align-items: center;
    justify-content: center;


}



.intro__geo::hover {
    text-decoration: underline;
    opacity: 1;
}


/* Button */
.btn {
    display: inline-block;
    padding: 29px 134px;

    vertical-align: top;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-size: 24px;
    font-weight: 700;
    width: 440px;
    height: 93.19px;
    left: 740px;
    top: 768.42px;
    color: #FFFFFF;


    background: #E04949;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;

    transition: background .1s linear;

    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));

}

.btn--red {
    background-color: #E04949;
}

.btn--red:hover {
    background-color: #a23737;

}

.btn--long {
    max-width: 440px;
}






/* check */


.check {
    flex-wrap: wrap;
    display: flex;

}


.check__item {
    width: 50%;
    padding: 0;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;


}


.check__icon {
    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
}


.check__title {

    font-weight: normal;
    z-index: 100;
    position: relative;
    color: #171717;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 50px;
    margin-top: 20px;
}


.check__friendly {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #268758;
}


.check__icon2 {
    margin-top: 78px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
}


.btncheck {
    display: inline-block;
    padding-top: 29px;

    vertical-align: top;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-size: 24px;
    font-weight: 700;
    width: 440px;
    height: 93.19px;
    left: 740px;
    top: 768.42px;
    color: #FFFFFF;


    background: #E04949;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;

    transition: background .1s linear;

    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));

}




/*checklist*/
.container__checklist {
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;

}

.checklist {
    background-color: #EBF3E8;
    width: 100%;

}


.checklist__title {
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 60px;




    color: #171717;
}



.checklist__twoitems {
    display: flex;
    flex-wrap: nowrap;
}



.checklist__img {


}


.checklist__item2 {
    width: 50%;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;

}


.checklist__content {
    display: flex;
    margin-top: 47px;
    margin-bottom: 36px;
    align-items: center;
}


.checklist__content:hover {
    text-decoration: underline;
    opacity: 1;
}

.checklist__subtitle {

    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #000000;
    margin-left: 10px;
    text-decoration: none;



}


.btn__checklist {
    display: inline-block;
    padding: 37px 142px;


    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-size: 24px;
    font-weight: 700;
    width: 487px;
    height: 100.96px;
    color: #FFFFFF;


    background: #E04949;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;

    transition: background .1s linear;

    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));

    margin-top: 30px;

}

.btn--red {
    background-color: #E04949;
}

.btn--red:hover {
    background-color: #a23737;

}

.btn--long {
    max-width: 440px;
}





/*Media*/
@media only screen and (max-width: 537px) {
    .logo__text {
        font-size: 23px;
    }

    .nav {
        font-size: 17px;
    }

    .menu__box {
        width: 75%;
    }

    .menu__item {
        padding: 30px 30px;
    }
}

@media (min-width: 1921px) and (max-width: 10000px) {

    body {
        background-image: url(../img/huge2.jpg);
    }
}

@media only screen and (max-width: 1080px) {

    body {
        font-size: 20px;
        background-image: url(../img/mobile.jpg);
    }

    .header {
        visibility: hidden;
    }

    .header__inner {
        justify-content: initial;
        align-items: initial;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 0px;
        width: 97%;
    }

    .logo {
        margin-bottom: 15px;
    }

    .logo__img {
        width: 22px;
        margin-right: 7px;
    }

    .nav {
        width: 90%;
    }

    .burger-menu {
        visibility: initial;
    }

    .menu__button {
        top: 50px;
        left: 50px;

        width: 65px;
        height: 65px;
    }

    .menu__button > span,
    .menu__button > span::before,
    .menu__button > span::after {

        width: 100%;
        height: 6px;
    }

    .menu__button > span::before {
        top: -20px;
    }

    .menu__button > span::after {
        content: '';
        top: 20px;
    }

    .menu__item {
        font-size: 55px;
        padding: 67px 70px;
    }

    .margin-top {
        margin-top: 100px;
    }

    .menu__box {
        width: 75%;
    }

    .check__title {
        font-size: 40px;
    }


    .btncheck {
        width: 330px;

    }

    .checklist__title {
        font-size: 48px;


    }

    .checklist__subtitle {
        font-size: 32px;
        font-style: normal;
    }

    .checklist__img {
        margin-left: 0px;
        width: 480px;
        height: 520px;

    }

    .btn__checklist {
        width: 400px;
        padding: 37px 90px;
    }
}






/* Container */
.container_2 {
    width: 100%;
    max-width: 1296px;

    margin: 0 auto;
}











/* Вторая часть*/

/* Books */

.books {
    background: url('../img/wave_blue.png') 0 0/ 100% no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;

    margin-top: 45px;
}

.books__inner {
    width: 100%;
    max-width: 636px;
    margin: 0 auto;
}

.books_title {
    color: #171717;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
}

.books__subtitle {
    color: #171717;
    font-size: 48px;
    margin-top: 50px;
}


/* Slider */
.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-list {
    overflow: hidden;

}

.slider {
    position: relative;
    padding: 0px 60px 0px 60px;
    min-width: 0;

}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -40px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 5%;
    height: 13%;
    border: none;
    outline: none;
    cursor: pointer;

}

.slider .slick-arrow.slick-prev {
    left: 0;
    /*margin-top: 12%;*/

    background: url('../img/prev_main.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    /*margin-top: -24.5%;*/

    background: url('../img/next_main.svg') 0 0 / 100% no-repeat;
}

.slider__item {
    color: #171717;
    text-align: center;
    opacity: 0.5;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    line-height: 1.3;
    font-size: 20px;


}

.slider__item.slick-center {
    opacity: 1;

}



/* Movies */
.movie {
    margin-top: 80px;
}

.movie__subtitle {
    color: #171717;
    font-size: 48px;
    margin-bottom: 50px;

}

.mov {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    line-height: 1.3;
    margin: 0 -11px;
}

.movie__item {
    color: #171717;
    max-width: 100%;
    display: block;
    width: 25%;
    padding: 0 11px;

}

/* Footer */

.footer {

    margin-top: 80px 0;


    height: 408px;
    background: url('../img/footer/bckgr.png') no-repeat;
    display: flex;



}

.footer__title {
    text-align: center;
    padding-top: 220px;;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: normal;
}

.contacts {
    display: flex;
    max-width: 300px;
   text-align: center;
    margin-left: auto;
    margin-right: auto;
   margin-top: -30px;





}

.contacts__item {

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    justify-content: space-between;
    cursor: pointer;

}

.copyright {
    position: relative;
    text-align: center;
    padding: 40px 0 0;
    color: #FFF;
    font-size: 14px;
    bottom: 5px;


}

.icon {
    font-size: 14px;

}


.left {
    width: 277px;
    border-bottom: solid 3px #fff;
    float: left;
    padding-top: 30px;
}

.right {
    width: 277px;
    border-bottom: solid 3px #fff;
    float: right;
    padding-top: 30px;
}














 @media (max-width: 1296px) {
        .container_2 {
            max-width: 970px;
            height: 100%;
        }

        .books {
            background: url('../img/wave_blue.png') 0 0/ 100% no-repeat;
            background-size: cover;

            width: 100%;
            height: 75vh;

            margin-top: 45px;
        }

        .slick-track {
            height: 100%;
        }

        .slick-list {
            height: 100%;
        }

        .slider {
            position: relative;
            margin-top: 10vh;
            min-width: 0;
            height: 45vh;
            display: flex;
            align-items: center;

        }



        .slider__item {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .books__image {
            width: 70%;
            height: auto;
        }

        .slider .slick-arrow {
            top: 40%;

            width: 15%;
            height: 39%;

        }


        .paragraph {
            font-size: 32px;
        }

        .books_title {
          font-size: 55px;
      }


        .books__subtitle {
          font-size: 43px;
      }

      .movie__item {
        color: #171717;
        max-width: 100%;
        display: block;
        width: auto;
        padding: 0 11px;
        margin-left: 2.5vh;
        margin-top: 1vh;

    }

    .movie__text {
        font-size: 32px;
        margin-top: 0.5vh;
    }
        /*.mov {
            display: block;
        }

        .movie__item {

            width: auto;
      }
}*/
@media (max-width: 992px) {
    .container_2 {
        max-width: 750px;
    }
    .books_title {
        font-size: 48px;
    }
    .books__subtitle {
        font-size: 36px;
    }
}

@media (max-width:767px) {
    .container_2 {
        max-width: none;
    }
    /*.mov {
        display: block;
        text-align: center;
    }

    .movie__item {
        width: auto;
        padding-bottom: 25px;
    }*/
}
