<style>

h1, h2, h3, h4, h5, h6 {
   margin: 0; 
   }
   


* {box-sizing: content-box;}
	a { text-decoration: none;
	color: white;
   	}


/* Burger menu */

.menu__button_2 {
    display: flex;
    align-items: center;
    position: fixed;
    top: 1%;
    left: 2%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1002120000;
}
.menu__button_2 > span, 
.menu__button_2 > span::before,
.menu__button_2 > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
}



.menu__button_2 > span::before {
	content: '';
	top: -12px;
}

.menu__button_2 > span::after {
	content: '';
	top: 12px;
}
.menu__item_2 {
    display: block;
    padding: 12px 14px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
	padding: 30px 60px;
}

.menu__item_2:hover {
	background-color: #cfd8dc;
}



#menu__toggle:checked ~ .menu__button_2 > span {
	transform: rotate(45deg);
	background-color: #333;
}

#menu__toggle:checked ~ .menu__button_2 > span::before {
  top: 0;
  transform: rotate(0);
  background-color: #333;
}
#menu__toggle:checked ~ .menu__button_2 > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #333;
}

.burger-menu {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}
.menu__button_1 {
    display: flex;
    align-items: center;
    position: fixed;
    top: 1%;
    left: 3%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1002120000;
}
.menu__button_1 > span, 
.menu__button_1 > span::before,
.menu__button_1 > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
}



.menu__button_1 > span::before {
	content: '';
	top: -8px;
}

.menu__button_1 > span::after {
	content: '';
	top: 8px;
}
.menu__item_1 {
    display: block;
    padding: 12px 14px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
	padding: 30px 60px;
}

.menu__item_1:hover {
	background-color: #cfd8dc;
}



#menu__toggle:checked ~ .menu__button_1 > span {
	transform: rotate(45deg);
	background-color: #333;
}

#menu__toggle:checked ~ .menu__button_1 > span::before {
  top: 0;
  transform: rotate(0);
  background-color: #333;
}
#menu__toggle:checked ~ .menu__button_1 > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #333;
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}




#menu__toggle {
	opacity: 0;
}


.menu__button {
    display: flex;
    align-items: center;
    position: fixed;
    top: 1.25vh;
    left: 1.25vh;
    width: 3.7vh;
    height: 3.7vh;
    cursor: pointer;
    z-index: 1002120000;
}

.menu__button > span, 
.menu__button > span::before,
.menu__button > span::after {
display: block;
    position: absolute;
    width: 100%;
    height: 0.45vh;
    background-color: #000;
}



.menu__button > span::before {
	content: '';
	top: -1vh;
}

.menu__button > span::after {
	content: '';
	top: 1vh;
}

.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;

	height: 100%;

	margin: 0;
	padding: 80px 0;

	list-style: none; 
	text-align: left;

	background-color: #eceff1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);	

	transition: left .4s;
	z-index: 5000000;
}



.menu__item {
display: block;
    padding: 4.5vh 1.5vh;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 3.7vh;
    font-weight: 600;

    text-decoration: none;
  
}

.menu__item:hover {
	background-color: #cfd8dc;
}

#menu__toggle:checked ~ .menu__button > span {
	transform: rotate(45deg);
	background-color: #333;
}

#menu__toggle:checked ~ .menu__button > span::before {
  top: 0;
  transform: rotate(0);
  background-color: #333;
}
#menu__toggle:checked ~ .menu__button > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #333;
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}






a#saa { display: block; position: relative; height: 32.85vw;}

a#saa:after  {  content: ''; position: absolute; top: -9.6vw; left: 0; right: 0; bottom: 9.8vw; background: rgba(0,0,0,.5);  opacity: 0; transition: 0.3s; }

a#saa:before  { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; }


a#saa:hover:before,
a#saa:hover:after { opacity: 1; } 

 
.cl1 {
	height: 28vw;
}


.container {
	max-width: 100vw;
}

.na:hover .asia_t4 {
	opacity: 1;
}
.na1:hover .asia_t3 {
	opacity: 1;
}
.na:hover .asia_t2 {
	opacity: 1;

}
.na1:hover .asia_t1 {
	opacity: 1;
}

.asia_t1 {
	position: absolute;
	top: 13vw;
	left: 16vw;
	opacity: 0;
	z-index: 100;

}	
.asia_t2 {
	position: absolute;
	top: 13vw;
	left: 10vw;
	opacity: 0;
	z-index: 100;

}
.asia_t3 {
	position: absolute;
	top: 13vw;
	left: 1.5vw;
	opacity: 0;
	z-index: 100;

}
.asia_t4 {
	position: absolute;
	top: 13vw;
	left: 18vw;
	opacity: 0;
	z-index: 100;

}


.header {
position: fixed;
width: 100%;
height: 6vw;
margin-left: 0vw;
margin-top: 0vw;
background: rgba(50, 50, 50, 0.77);
border-radius: 0vw 0vw 2.5vw 2.5vw;
z-index: 1000;

}

.header__inner {
display: flex;
justify-content: space-between;
margin-left: 12vw;
margin-right: 12vw;
}
.globe {
	width: 2.71vw;
}
.header__logo {


margin-left: 0vw;
margin-top: 1.35vw;
border-radius: 0vw;
}


.header__name {
padding: 0pvw;
margin: 1.9vw 0vw 0vw 4vw;
position: absolute;


font-style: normal;
font-weight: bold;
font-size: 1.25vw;

color: #E9EFF4;
}




/* Nav */
.nav {
display:flex;
font-size: 1.25vw;
font-weight: 700;


}

.nav__link {
margin-left: 5.21vw;
color: #fff;
text-decoration: none;
opacity: .75;
margin-top: 1.82vw;


transition: opacity 0.1s linear;

}

.nav__link:first-child {
margin-left: 0;
}

.nav__link:hover {
text-decoration: underline;
opacity: 1;
}



#saa:hover .sa_text4 {
	opacity: 1;
}
.sa:hover .sa_text3 {
	opacity: 1;
}
.sa:hover .sa_text2 {
	opacity: 1;
}

.sa:hover .sa_text1 {
	opacity: 1;
}


.na:hover .na_img_4 {
	opacity: 1;
}
.na1:hover .na_img_3 {
	opacity: 1;
}
.na:hover .na_img_2 {
	opacity: 1;

}
.na1:hover .na_img_1 {
	opacity: 1;
}
.na_img_4 {
	position: absolute;
	top: 13vw;
	left: 11vw;
	opacity: 0;
	z-index: 1000;


}
.na_img_3 {
	position: absolute;
	top: 13vw;
	left: 19vw;
	opacity: 0;
	z-index: 1000;

}


.na_img_2 {
	position: absolute;
	top: 13vw;
    left: 18vw;
	opacity: 0;
	z-index: 1000;

}

.na_img_1 {
	
	position: absolute;
	top: 13vw;
    left: 9vw;
	opacity: 0;
	z-index: 1000;

}


.south_america {
    width: 100%;
    max-width: 2560px;

	margin: 0 auto;
}



a.na1 { display: block; position: relative; }

a.na1:after {  content: ''; position: absolute; top: 0; left: 0; right: 0.65vw; bottom: 0; background: rgba(0,0,0,.5);  opacity: 0; transition: 0.3s; }

a.na1:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url("..img/b1.png"); opacity: 0; }

a.na1:hover:before,
a.na1:hover:after { opacity: 1; }



a.na { display: block; position: relative; }

a.na:after {  content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);  opacity: 0; transition: 0.3s;}

a.na:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url("..img/b1.png"); opacity: 0; }

a.na:hover:before,
a.na:hover:after { opacity: 1; }





a.sa { display: block; position: relative; }

a.sa:after {  content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);  opacity: 0; transition: 0.3s;}

a.sa:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; }

a.sa:hover:before,
a.sa:hover:after { opacity: 1; }
.row_2 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	padding-top: 0.7vw;
	font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
	font-size: 2.05vw;
	color: white;
   
}

.row_1 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
	font-size: 2.05vw;
	color: white;
}
.sa_text2 {
	top: 10vw;
	left: 14vw;
    position: absolute;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
	font-size: 2.05vw;
	color: white;
	opacity: 0;
}


.sa_text1 {
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
	font-size: 2.05vw;
	color: white;
	text-align: center;
    top: 16vw;
	left: 17vw;
    position: absolute;
    z-index: 1000;
	opacity: 0;

}


.sa_text3 {
	top: 10vw;
	left: 9vw;
    position: absolute;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
	font-size: 2.05vw;
	color: white;
	opacity: 0;
}
.sa_text4 {
	top: 4vw;
	left: 3.5vw;
    position: absolute;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
	font-size: 2.05vw;
	color: white;
	opacity: 0;
}


.a4 {
	position: absolute;
	top: -9.6vw;
	height: 32.6vw;
}
#geo:hover img { width: 35.5vh; }










.title {
	text-align: center;
	color: black;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    line-height: 3.5vw;
    letter-spacing: 0.4em;
	margin-top: 4vw;
	
}
.geo7 {
	position: absolute;
    top: 40vw;
	left: 65vw;
	z-index: 100;
}
.geo6 {
	position: absolute;
    top: 26vw;
	left: 85vw;
	z-index: 100;
}
.geo5 {
	position: absolute;
    top: 9vw;
	left: 76vw;
	z-index: 100;
}
.geo4 {
	position: absolute;
	top: 5vw;
	left: 60vw;
	z-index: 100;
}
.geo3 {
	position: absolute;
	top: 14vw;
	left: 52vw;
    z-index: 100;
}
.geo2 {
	position: absolute;
	top: 22vw;
	margin-left: 32vw;
    z-index: 100;

}
.geo {
	position: absolute;
	z-index: 1000;
    top: 7vw;
	left: 20vw;
    z-index: 100;
    
	
}

.body {
   background: white;
   color: black;
   font-family: 'Roboto', sans-serif;
   margin: 0; 
   width: 100%;
}

a#saa { display: block; position: relative; height: 32.85vw;}

a#saa:after  {  content: ''; position: absolute; top: -9.6vw; left: 0; right: 0; bottom: 9.8vw; background: rgba(0,0,0,.5);  opacity: 0; transition: 0.3s; }

a#saa:before  { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; }


a#saa:hover:before,
a#saa:hover:after { opacity: 1; } 

 
.cl1 {
	height: 28vw;
}


.container {
	max-width: 100vw;
}

.na:hover .asia_t4 {
	opacity: 1;
}
.na1:hover .asia_t3 {
	opacity: 1;
}
.na:hover .asia_t2 {
	opacity: 1;

}
.na1:hover .asia_t1 {
	opacity: 1;
}

.asia_t1 {
	position: absolute;
	top: 13vw;
	left: 16vw;
	opacity: 0;
	z-index: 100;

}	
.asia_t2 {
	position: absolute;
	top: 13vw;
	left: 10vw;
	opacity: 0;
	z-index: 100;

}
.asia_t3 {
	position: absolute;
	top: 13vw;
	left: 1.5vw;
	opacity: 0;
	z-index: 100;

}
.asia_t4 {
	position: absolute;
	top: 13vw;
	left: 18vw;
	opacity: 0;
	z-index: 100;

}


.header {
position: fixed;
width: 100%;
height: 6vw;
margin-left: 0vw;
margin-top: 0vw;
background: rgba(50, 50, 50, 0.77);
border-radius: 0vw 0vw 2.5vw 2.5vw;
z-index: 1000;

}

.header__inner {
display: flex;
justify-content: space-between;
margin-left: 12vw;
margin-right: 12vw;
}
.globe {
	width: 2.71vw;
}
.header__logo {


margin-left: 0vw;
margin-top: 1.35vw;
border-radius: 0vw;
}


.header__name {
padding: 0pvw;
margin: 1.9vw 0vw 0vw 4vw;
position: absolute;


font-style: normal;
font-weight: bold;
font-size: 1.25vw;

color: #E9EFF4;
}




/* Nav */
.nav {
display:flex;
font-size: 1.25vw;
font-weight: 700;


}

.nav__link {
margin-left: 5.21vw;
color: #fff;
text-decoration: none;
opacity: .75;
margin-top: 1.82vw;


transition: opacity 0.1s linear;

}

.nav__link:first-child {
margin-left: 0;
}

.nav__link:hover {
text-decoration: underline;
opacity: 1;
}



#saa:hover .sa_text4 {
	opacity: 1;
}
.sa:hover .sa_text3 {
	opacity: 1;
}
.sa:hover .sa_text2 {
	opacity: 1;
}

.sa:hover .sa_text1 {
	opacity: 1;
}


.na:hover .na_img_4 {
	opacity: 1;
}
.na1:hover .na_img_3 {
	opacity: 1;
}
.na:hover .na_img_2 {
	opacity: 1;

}
.na1:hover .na_img_1 {
	opacity: 1;
}
.na_img_4 {
	position: absolute;
	top: 13vw;
	left: 11vw;
	opacity: 0;
	z-index: 1000;


}
.na_img_3 {
	position: absolute;
	top: 13vw;
	left: 19vw;
	opacity: 0;
	z-index: 1000;

}


.na_img_2 {
	position: absolute;
	top: 13vw;
    left: 18vw;
	opacity: 0;
	z-index: 1000;

}

.na_img_1 {
	
	position: absolute;
	top: 13vw;
    left: 9vw;
	opacity: 0;
	z-index: 1000;

}


.south_america {
    width: 100%;
    max-width: 2560px;

	margin: 0 auto;
}



a.na1 { display: block; position: relative; }

a.na1:after {  content: ''; position: absolute; top: 0; left: 0; right: 0.65vw; bottom: 0; background: rgba(0,0,0,.5);  opacity: 0; transition: 0.3s; }

a.na1:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url("..img/b1.png"); opacity: 0; }

a.na1:hover:before,
a.na1:hover:after { opacity: 1; }



a.na { display: block; position: relative; }

a.na:after {  content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);  opacity: 0; transition: 0.3s;}

a.na:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url("..img/b1.png"); opacity: 0; }

a.na:hover:before,
a.na:hover:after { opacity: 1; }





a.sa { display: block; position: relative; }

a.sa:after {  content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);  opacity: 0; transition: 0.3s;}

a.sa:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; }

a.sa:hover:before,
a.sa:hover:after { opacity: 1; }
.row_2 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	padding-top: 0.7vw;
	font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
	font-size: 2.05vw;
	color: white;
   
}

.row_1 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
	font-size: 2.05vw;
	color: white;
}
.sa_text2 {
	top: 10vw;
	left: 14vw;
    position: absolute;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
	font-size: 2.05vw;
	color: white;
	opacity: 0;
}


.sa_text1 {
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
	font-size: 2.05vw;
	color: white;
	text-align: center;
    top: 16vw;
	left: 17vw;
    position: absolute;
    z-index: 1000;
	opacity: 0;

}


.sa_text3 {
	top: 10vw;
	left: 9vw;
    position: absolute;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
	font-size: 2.05vw;
	color: white;
	opacity: 0;
}
.sa_text4 {
	top: 4vw;
	left: 3.5vw;
    position: absolute;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
	font-size: 2.05vw;
	color: white;
	opacity: 0;
}


.a4 {
	position: absolute;
	top: -9.6vw;
	height: 32.6vw;
}
#geo:hover img { width: 4.25%; }












.okean{
	background:  url("../img/ooo.jpg") center no-repeat;
	-webkit-background-size: cover;
    margin: 0;
	width: 100vw;
	height: 47vw;
}

.body {
   background: white;
   color: black;
   font-family: 'Roboto', sans-serif;
   margin: 0; 
   width: 100%;
}





@media only screen and (max-device-width: 1024px) {
	

#okean {

width: 225vh;
    height: 100vh;

}
	.geo:hover img { width: 9vh; }

.geo {
    position: absolute;
    z-index: 1000;
    top: 12.5vh;
    left: 45vh;
    z-index: 100;
    width: 8vh;
}
.geo2 {
    position: absolute;
    top: 47.5vh;
    left: 54vh;
    z-index: 100;
    width: 8vh;
}
.geo4 {
    position: absolute;
    top: 7.5vh;
    left: 135vh;
    z-index: 100;
    width: 8vh;
}
.geo3 {
    position: absolute;
    top: 30.25vh;
    left: 117.5vh;
    width: 8vh;
    z-index: 100;
}
.geo5 {
 position: absolute;
    top: 20vh;
    left: 170vh;
    width: 8vh;
    z-index: 100;
}
.geo6 {
     position: absolute;
    top: 57.5vh;
    left: 192.5vh;
    z-index: 100;
    width: 8vh;

}
.geo7 {
    position: absolute;
    top: 83.75vh;
    left: 155vh;
    z-index: 100;
    width: 8vh;
}
td{
	 width: 100%;
 }
#roww {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	padding-top: 0vw;
	font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
	font-size: 2.05vw;
	color: white;

     
}

#row {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	padding-top: 0vw;
	font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
	font-size: 2.05vw;
	color: white;

     
}
.ad_otst {
	padding-top: 1vw;
}
  #cl_1 {
  width: 100%;
  height: 45vw;
  }
#cl_2 {
 
  width: 100%;
  height: 50vw;
  }
#cl_3 {

  width: 100%;
  height: 70vw;
  }
#cl_4 {

  width: 100%;
  height: 45vw;
}

#cl_5 {
  width: 100%;
  height: 65vw;
  }
#cl_6 {
 
  width: 100%;
  height: 45vw;
  }
#cl_7 {

  width: 100%;
  height: 45vw;
  }
#cl_8 {

  width: 100%;
  height: 65vw;
}
#cl_9 {
  width: 100%;
  height: 65vw;
  }
#cl_10 {
 
  width: 100%;
  height: 45vw;
  }
#cl_11 {

  width: 100%;
  height: 45vw;
  }
#cl_12 {
  top: 0vw;
  width: 100%;
  height: 65vw;
}



.asia_t1 {
	position: absolute;
	top: 20vw;
	left: 30vw;
	font-size: 4vw;
	opacity: 1;
	z-index: 100;

}	
.asia_t2 {
	position: absolute;
	top: 23vw;
	left: 21vw;
	font-size: 4vw;
	opacity: 1;
	z-index: 100;

}
.asia_t3 {
	position: absolute;
	top: 31vw;
	left: 18vw;
	font-size: 4vw;
	opacity: 1;
	z-index: 100;

}
.asia_t4 {
	position: absolute;
	top: 20vw;
	left: 20vw;
	font-size: 4vw;
	opacity: 1;
	z-index: 100;
}
a.na1 { display: block; position: relative; }

a.na1:after {  content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);  opacity: 1; transition: 0.3s;}

a.na1:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url("..img/b1.png"); opacity: 1; }

a.na1:hover:before,
a.na1:hover:after { opacity: 1; }

a.na { display: block; position: relative; }

a.na:after {  content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);  opacity: 1; transition: 0.3s;}

a.na:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url("..img/b1.png"); opacity: 1; }

a.na:hover:before,
a.na:hover:after { opacity: 1; }


a#saa { display: block; position: relative; height: 32.85vw;}

a#saa:after  {  content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: -32.5vw; background: rgba(0,0,0,.5);  opacity: 1; transition: 0.3s; }

a#saa:before  { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 1; }


a#saa:hover:before,
a#saa:hover:after { opacity: 1; } 


a.sa { display: block; position: relative; }

a.sa:after {  content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);  opacity: 1; transition: 0.3s;}

a.sa:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 1; }

a.sa:hover:before,
a.sa:hover:after { opacity: 1; }



.sa_text1 {
    position: absolute;
	top: 30vw;
	left: 34vw;
	opacity: 1;
	z-index: 1000;
    font-size: 4vw;

}

.sa_text2 {
    position: absolute;
	top: 20vw;
	left: 29vw;
	opacity: 1;
	z-index: 1000;
    font-size: 4vw;

}
.sa_text3 {
	position: absolute;
	top: 20vw;
	left: 17vw;
	opacity: 1;
	z-index: 1000;
    font-size: 4vw;
}
.sa_text4 {
	position: absolute;
	top: 30vw;
	left: 8vw;
	opacity: 1;
	z-index: 1000;
    font-size: 4vw;
}

.na_img_4 {
	position: absolute;
	top: 30vw;
	left: 29vw;
	opacity: 1;
	z-index: 1000;
    font-size: 4vw;

}
.na_img_3 {
	position: absolute;
	top: 20vw;
	left: 32vw;
	opacity: 1;
	z-index: 1000;
    font-size: 4vw;
}


.na_img_2 {
	position: absolute;
	top: 20vw;
    left: 25vw;
	opacity: 1;
	z-index: 1000;
    font-size: 4vw;
}

.na_img_1 {
	position: absolute;
	top: 30vw;
	left: 30vw;
	opacity: 1;
	z-index: 100;
    font-size: 4vw;

}


	.menu__box {
		width: 50%;
	}



.burger-menu {
		visibility: initial;
		opacity: 1;
		
	}

.header {
	opacity: 0;
}



}



</style>
