* {
	padding: 0;
	margin: 0;
  }
body{
	box-sizing: border-box;
}
.section{
    width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
}

.section_title{
	margin: 20px;
    font-size: 40px;
    font-weight: 700;
    color: #171717;
    line-height: 70px; 
    font-family:  'Roboto', normal;
    letter-spacing: 20px; 
	text-align: center;
	
}

.problems{
	display:flex;
	flex-direction: row;
	margin: 0 auto;
}
.about_img{
	width: 95%;
	margin: 5px;
	background: rgba(0, 0, 0, .5);		
}

.about_img img{
	width: 100%;
	display: block;
	
}
.problem_item:hover .about_img img{
	opacity: 0.3;
	background-color: rgba(0, 0, 0, .5);
	transition: 0.3s;
	z-index: 10;
}

.problem_item:hover .problem_title{
	opacity: 1;
	transition: 0.3s;
	z-index: 100;
}

.problem_item{
	position: relative;	
}


.problem_title{
    color: white;
	position: absolute;
	top: 50%;
    left: 27%;
    opacity: 0;
	width: 50%;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	opacity: 0;
    z-index: 100; 
}

img{
	width: 95%;
}
.burger-menu {
	visibility: hidden;
}

#menu__toggle {
	opacity: 0;
}

.menu__button {
	display: flex;
	align-items: center;
	position: fixed;
	top: 20px;
	left: 20px;

	width: 26px;
	height: 26px;

	cursor: pointer;
	z-index: 1000;
}

.menu__button > span, 
.menu__button > span::before,
.menu__button > span::after {
	display: block;
	position: absolute;

	width: 100%;
	height: 2px;

	background-color: #000000;
}

.menu__button > span::before {
	content: '';
	top: -8px;
}

.menu__button > span::after {
	content: '';
	top: 8px;
}

.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;

	width: 55%;
	height: 100%;

	margin: 0;
	padding: 80px 0;

	list-style: none; 
	text-align: left;

	background-color: #eceff1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);	

	transition: left .4s;
	z-index: 500;
}

.menu__item {
	display: block;
	padding: 12px 24px;

	color: #333;

	font-family: "Roboto", sans-serif;
	font-size: 22px;
	font-weight: 600;

	padding: 30px 60px;

	text-decoration: none;
}

.menu__item:hover {
	background-color: #cfd8dc;
}

#menu__toggle:checked ~ .menu__button > span {
	transform: rotate(45deg);
	background-color: #333;
}

#menu__toggle:checked ~ .menu__button > span::before {
  top: 0;
  transform: rotate(0);
  background-color: #333;
}
#menu__toggle:checked ~ .menu__button > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #333;
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}



    
@media only screen and (max-device-width: 1500px) {
    
    .section_title{
	margin: 1.33vw;
    font-size: 2.67vw;
    font-weight: 700;
    color: #171717;
    line-height: 4.67vw; 
    font-family:  'Roboto', normal;
    letter-spacing: 1.33vw; 
	text-align: center;
}
}

@media only screen and (max-device-width: 1200px) {

.section_title {
    padding-top: 2vw; 
    font-size: 4vw;
    }  
    
.problems {
    padding-top: 3vw;    
    }  
}

@media only screen and (max-device-width: 1024px) {
    
.problems {
    padding-top: 6vw;    
    }  
    
.section_title {
    padding-top: 4vw;
    font-size: 5vw;
}
@media only screen and (max-device-width:900px) {
    
.problems{
	display:flex;
	flex-direction: column;
	margin: 0 auto;        
}
    
img {
        width: 97vw;
    }
    
.section_title {
    font-size: 5vw;
    padding-top: 3vw;
    }  
    
.problems {
    padding-top: 3vw;    
    }  
}
	
@media screen and (max-width: 769px){
    .problem_items{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }

    .section_title{
    margin: 0px;
	padding: 40px 0px 0px 0px;
    font-size: 27px;
    font-weight: 700;
    color: #171717;
    line-height: 70px; 
    font-family:  'Roboto', normal;
    letter-spacing: 13px; 
    text-align: center;
    }
	.about_img{
	width: 95%;
	margin: 5px;
	background: rgba(0, 0, 0, .5);		
}

.about_img img{
	width: 100%;
	display: block;
	opacity: .3;
}
	.burger-menu {
		visibility: initial;
	}

    

}

@media screen and (max-width: 426px){
    .problem_items{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }

    .section_title{
    margin: 0px;
	    padding: 35px 0px 0px 0px;
    font-size: 20px;
    font-weight: 700;
    color: #171717;
    line-height: 70px; 
    font-family:  'Roboto', normal;
    letter-spacing: 10px; 
    text-align: center;
    }
    .problem_title{
    position: absolute;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    opacity: 1;
    z-index: 2; 
}    
	
	.about_img{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0, 0, 0, .5);		
}

.about_img img{
	width: 100%;
	display: block;
	opacity: .3;
}
	.burger-menu {
		visibility: initial;
	}
	
	
	.menu__button {
	

	width: 23px;
	height: 26px;

}	
.menu__item {
	padding: 30px 30px;
}
}

