* {
	padding: 0;
	margin: 0;
  }
body{
	box-sizing: border-box;
}
.section{
	max-width: 1500px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
}

.section_title{
	margin: 20px;
    font-size: 40px;
    font-weight: 700;
    color: #171717;
    line-height: 70px; 
    font-family:  'Roboto', normal;
    letter-spacing: 20px; 
	text-align: center;
	
}

.problems{
	display: flex;
	flex-direction: row;
	margin: 0 auto
	
}

img{
	
	width: 98%;
}
.problem_item{
	position: relative;
}
.problem_item:hover .problem_title{
	opacity: 1;
	cursor: pointer;
}

.problem_title{
	
	position: absolute;
	
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: #FFFFFF;
	opacity: 0;
	
}


img:hover{
	opacity: 0.5;
	cursor: pointer;
}

