* {
	padding: 0;
	margin: 0;
  }
body{
	box-sizing: border-box;
}

.section_title{
	margin: 20px;
    font-size: 40px;
    font-weight: 700;
    color: #171717;
    line-height: 70px; 
    font-family:  'Roboto', normal;
    letter-spacing: 20px; 
	text-align: center;
	
}

.problems{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	
}

img{
	
	width: 98%;
}
.problem_item{
	position: relative;
}

.problem_title{
	
	position: absolute;
	
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: #FFFFFF;
	z-index: 3;
	opacity: 1;
	
}


.about_img{
	width: 98%;
	margin: 5px;
	background: rgba(0, 0, 0, .5);		
}

.about_img img{
	width: 100%;
	display: block;
	opacity: .4;
}
.container{
	max-width: 1500px;
	margin: 0px auto;
	padding: 0px 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
	
}
@media (max-width: 1500px){
	.container{
		max-width: 970px;
	}
}

@media (max-width: 992px){
	.container{
		max-width: 750px;
	}
}
@media (max-width: 768px){
	.container{
		max-width: none;
	}
}


@media screen and (max-width: 769px){
	.problems{

	display: flex;
	flex-direction: column;
	margin: 0 auto;
	}

	.section_title{
	margin: 20px;
    font-size: 27px;
    font-weight: 700;
    color: #171717;
    line-height: 70px; 
    font-family:  'Roboto', normal;
    letter-spacing: 13px; 
	text-align: center;
	
	}
	
}

@media screen and (max-width: 426px){
	.problems{

	display: flex;
	flex-direction: column;
	margin: 0 auto;
	}

	.section_title{
	margin: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #171717;
    line-height: 70px; 
    font-family:  'Roboto', normal;
    letter-spacing: 10px; 
	text-align: center;
	}
	
	.problem_title{
	position: absolute;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: #FFFFFF;
	opacity: 1;
	z-index: 2;	
}
	
}
